body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1em;
}

.container {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
		margin: 0 auto;
  }
}

.request-type-form {
	margin-bottom: 3em;
}

.request-type-form-group {
	justify-content: center;
}

.login-container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	vertical-align: middle;
}

.login-container .login-info {
	margin-bottom: 1em;
}

.button {
	display: inline-block;
	padding: .6em 2em;
	text-decoration: none;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

.button:active {
	transition: position .5s ease-in;
	border: 3px solid #2d614934 !important;
}

.primary-button:hover {
	background: #53ce94;
	border: 3px solid #2d61491a;
	color: #000;
}

.primary-button {
	background: #58dea0;
	color: #000;
	border: 3px solid #2d614900;
}

.loading-button {
	padding: 1.025em 2em;
}

.canvas-container .canvas-actions-container {
	margin-top: 2em;
	text-align: center;
}

#canvas {
	display: flex;
	justify-content: center;
}

.spoticulum-logo {
	border-radius: 2px;
	background-image: -webkit-linear-gradient(92deg, #00a055, #58dea0);
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}
