body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1em;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-container, .canvas-container {
  flex: 0 0 85%;
	background: rgb(255,255,255);
	background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(153,100,135,0.33761451357886907) 100%);
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(153,100,135,0.33761451357886907) 100%);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(153,100,135,0.33761451357886907) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#996487",GradientType=1);
}

.footer {
  flex: 0 0 15%;
	padding: 4em 0 !important;
	background: rgb(30,0,43) !important;
	background: -moz-linear-gradient(90deg, rgba(30,0,43,1) 0%, rgba(32,17,84,1) 50%, rgba(32,49,55,1) 100%) !important;
	background: -webkit-linear-gradient(90deg, rgba(30,0,43,1) 0%, rgba(32,17,84,1) 50%, rgba(32,49,55,1) 100%) !important;
	background: linear-gradient(90deg, rgba(30,0,43,1) 0%, rgba(32,17,84,1) 50%, rgba(32,49,55,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e002b",endColorstr="#203137",GradientType=1) !important;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #ceefe0;
}

.footer i.link.icon {
	opacity: 1;
}

.footer .icon:hover {
	text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
		margin: 0 auto;
  }

	.login-info {
		width: 80%;
    margin: 0 auto;
    font-size: .8em;
    line-height: 1.3;
    margin-bottom: 3em !important;
	}

	.footer {
		padding: 2.5em 0 !important;
	}

	.canvas-actions-container {
		display: flex;
		justify-content: center;
	}

	.canvas-actions-container .button {
		font-size: .7em !important;
	}

	.tip-text-container {
		width: 80%;
		margin: 0 auto;
	}

	.tip-text {
		font-size: .85em;
	}
}

.tip-text {
	text-align: center;
	margin-top: 2em !important;
	color: #606060;
}

.request-type-form-group {
	justify-content: center;
}

.login-container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	vertical-align: middle;
}

.login-container .login-info {
	margin-bottom: 1em;
}

.login-container .image {
	margin-right: .5em !important;
}

.button {
	display: inline-block;
	padding: .6em 2em;
	text-decoration: none;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: 3px solid #2d614900 !important;
}

.button:active {
	transition: position .5s ease-in;
	border: 3px solid #2d614934 !important;
}

.primary-button:hover {
	background: #53ce94;
	border: 3px solid #2d61491a;
	color: #000;
}

.primary-button {
	background: #58dea0;
	color: #000;
	border: 3px solid #2d614900;
}

.loading-button {
	padding: 1.025em 2em;
}

.canvas-container .canvas-actions-container {
	margin-top: 2em;
	text-align: center;
}

#canvas {
	display: flex;
	justify-content: center;
}

.spoticulum-logo {
	border-radius: 2px;
	background-image: -webkit-linear-gradient(92deg, #00a055, #58dea0);
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

.example-click {
	font-weight: bold;
	color: #44b782;
	cursor: pointer;
}

.example-click:hover {
	text-decoration: underline;
}